#main-container {
    display: grid;
    grid-template-rows: 7fr 3fr;
    color: var(--primary-dark);
}

#content-container {
    display: grid;
    color: var(--primary-light);
}

#selections-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main-content {
    display: grid;
    justify-content: center;
    align-content: center;
}

#main-content > h1 {
    font-size: 64px;
    border-radius: 15px;
    background-color: var(--variation-three);
    opacity: .75;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 25px;
}

#main-content > p {
    font-family: 'Shadows Into Light', cursive;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 36px;
    border-radius: 15px;
    background-color: var(--variation-one);
    opacity: .75;
    color: var(--primary-dark);
    padding-left: 10px;
    padding-right: 10px;
}

.selection {
    font-weight: bold;
    font-size: 20px;
    display: grid;
    align-content: center;
    padding: 10px;
}

.selection:hover {
    opacity: 0.85;
    color: var(--primary-light);
}

#add {
    background-color: var(--variation-one);
    justify-content: right;
    padding-right: 3vw;
}

#check {
    justify-content: center;
    background-color: var(--variation-two);
}

#create {
    background-color: var(--variation-three);
    justify-content: left;
    padding-left: 3vw;
}