.transaction-summary {
    background-color: var(--variation-three);
    color: var(--primary-light);
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.selection-header {
    display: inline-block;
    margin-left: 2vw;
    margin-top: 1vw;
}

#month-selector {
    width: 200px;
    background-color: var(--variation-three);
    border: none;
    border-bottom: 1px solid var(--primary-light);
    color: var(--primary-light);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    margin-left: 0.5vw;
}

.transactions-container {
    margin-top: 1vh;
    position: absolute;
    overflow: auto;
    height: 83vh;
    top: 15vh;
    width: 50vw;
}

.income {
    background-color: var(--variation-one);
    color: var(--variation-three);
}

.transaction {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    height: 36px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    border-bottom: 2px solid var(--primary-light);
}

.transaction:hover {
    cursor: pointer;
}

@media only screen and (max-width: 840px) {
    .transactions-container {
        position: inherit;
        overflow: auto;
        height: fit-content;
        top: 0;
        width: auto;
    }
}